<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="<:SEO_KEYWORDS/>" />
	<meta name="description" content="<:SEO_DESCRIPTION/>" />
	<meta name="author" content="<:SEO_AUTHOR/>">
	
	<!-- Document Title
	============================================= -->
	<title><:TITLE/></title>
	
	<!-- Mobile Specific Metas
	============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Favicon
	============================================= -->
	<link rel="icon" type="image/png" href="/dollarlib.eldiletante.com/application/assets/images/favicon.png">

	<!-- FONT
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/dollarlib.eldiletante.com/application/assets/css/normalize.min.css">
	<link rel="stylesheet" href="/dollarlib.eldiletante.com/application/assets/css/skeleton.min.css">

	<!-- Custom Stylesheet
	============================================= -->
	<style>
		/* Sections */
		.section {
    		padding: 2rem 0 2rem;
		}

		/* Github */
		.github {
			background-image: url('/dollarlib.eldiletante.com/application/assets/images/bg.png');
			background-size: cover;
			color: #fff;
			text-align: center;
		}

		.github .section-description {
			margin-bottom: 4rem;
		}

		<:STYLES/>
	</style>
</head>
<body>
	
	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="section github">
		<div class="container">
			<div class="row">
				<div class="column">
					<img class="u-max-full-width" src="/dollarlib.eldiletante.com/application/assets/images/dollar.png">
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="snippetSection">
		<div class="container">
			<div class="row">
				<h3 id="mainTitle"><:EXAMPLE/></h3>
			</div>
			<div class="row">
				<p><:NOTES/></p>
			</div>
			<div class="row">
				<:OUTPUT/>
			</div>
		</div>
	</div>
	
	<!-- External JavaScripts
	============================================= -->
	<script src="/dollarlib.eldiletante.com/application/assets/js/jquery-3.6.0.min.js"></script>

	<:SCRIPT/>
</body>
</html>
